{% extends 'base.html' %}
{% block body %}


<div class="container ">
	<div class="row">
		<div class="col">
		</div>
		<div class="col-6 bg-info">
			<form action={{ url_for('create_channel') }} method="POST">
				<div class="form-group">
					<label for="creating_channel"> Username </label>
					<input type="username" class="form-control" name="channel_name" id="channel_name" placeholder="Enter Your Channel Name">
				</div>
				<button type="submit"  class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="col">
		</div>

	</div>

</div>
{% endblock %}
